<%= form_for(@note, remote: true) do |f| %>
  <div>
    <%= f.text_area :body, class: "paper" %>
  </div>
  <div class="actions">
    <%= f.submit "Save Note", class: "pull-right fab-button btn btn-danger" %>
  </div>
<% end %>
